<footer class="site-footer">
    <p class="wrapper">
        <span class="link">
            <a href="https://github.com/prayerslayer">github/@prayerslayer</a>
        </span>
        <span class="link">
            <a href="https://github.com/prayerslayer">twitter/@prayerslayer</a>
        </span>
        <span class="link">
            <a href="https://npiccolotto.com">blog</a>
        </span>
    </p>
</footer>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>
<script type="text/javascript">
    skrollr.init();
</script>