body {
    background: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

pre, code {
    font-family: Monaco, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

a {
    @include transition(color);
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient( to top, rgba(0,0,0,0) 7%, currentColor 7%, currentColor 14%, rgba(0,0,0,0) 14%);

    &:hover {
        color: #bf4040;
    }

    // safari has problems with currentColor, so we add a pseudo
    &:before {
        display: inline-block;
        content: '\00B6 ';
    }
}

img {
    max-width: 100%;
    border-radius: 3px;
}

.highlight {
    background: #111;
    border-radius: 3px;
    line-height: $small-line-height;
    font-size: $small-font-size;
    pre {
        padding: .5em;
    }
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.icon {
    width: 32px;
    height: 32px;
}

.site-footer {
    background: $brand-color;
    color: white;
    padding: 1em;
    margin-top: 3em;
    height: 2em;
}

.site-header {
    height: 2em;
    background: $brand-color;
    color: white;
    padding: 1em;
    margin: 0;
    margin-bottom: 3em;

    ul {
        margin: 0;
        list-style-type: none;
        li {
            float: left;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}