---
layout: default
---
<div class="home">
    <div class="logo-wrapper">
        <div class="logo">
            <div
                data-0="transform:translate(0px,0px);"
                data-100="transform:translate(-100px,0px);"
                class="circle circle-left"></div>
            <div
                data-0="transform:translate(0px,0px);"
                data-100="transform:translate(100px,0px);"
                class="circle circle-right"></div>
        </div>
    </div>
    
    {{content}}
</div>